<div class="content-splash">
  <div class="row">
    <h1>All Bars</h1>

    <ul id="bar-show">
      <% @bars.each do |bar| %>
      <li id="bar-<%= bar.id %>"><%= link_to bar.name, bar_path(bar) %></li>
      <% end %>
    </ul>

    <%= button_to "Add New Bar", new_bar_path, method: :get %>
  </div>
  <div id="pagination">
  <%= paginate @bars %>
  </div>
</div>
