<div class="content-splash">
  <div class="container">
    <div class="column">
      <div class="row">
        <h1>All Bars</h1>

        <ul>
          <% if @bars.length < 1 %>
            <li>"No results match your criteria"</li>
          <% else %>
            <% @bars.each do |bar| %>
              <li><%= link_to bar.name, bar_path(bar) %></li>
            <% end %>
          <% end %>
        </ul>

        <%= button_to "Add New Bar", new_bar_path, method: :get %>
      </div>
    </div>
  </div>
</div>
<div class="pagination">
<%= paginate @bars %>
</div>
